body {
  margin: 2em;
  font-family: 'Open Sans', sans-serif;
}
th, td {
  padding: 5px;
}
th {
  border-bottom: 1px solid #1C1C1C;
}
.tableHover {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tableHover .top-row {
  background-color: #fff;
}
.bottom-row {
  position: relative;
}
.tableHover .bottom-row:hover {
  background-color: rgba(142, 142, 142, 0.35);
}
#string {
  text-align: left;
}
#integer {
  text-align: center;
}